*{
    padding: 0;
    margin: 0;
  }

a{
color: #BBBBBB;
text-decoration: none;
&:hover{
  color: #94612C;
        } 
}  
  
p{
  font-family: greycliff-cf, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1{
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}  

h2{
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
} 


hr{
  border-color: #680718;
}

.bg{

  background-color: #E4E4E4;
}

.bgsep{
  
  background-image: url('../img/drake.png');
  background-repeat: no-repeat;
  padding-right: 100px;
  background-size: 600px;
  background-position: right;
  height: 400px;
}

.bgfooter{
background-color: #171E18;
}

.sub{
text-align: center;
color: #C08039;
}

.portada{
    background-image: url('../img/portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;  
  }  

.contenedor-rel{
  position: relative;
  top: 120px;
  left: 100px;
}

/* GALERÍA 1 MODAL */ 
#portfolio1 .portfolio-item { 
  max-width: 25rem; 
  margin-left: auto; 
  margin-right: auto; 
  } 
  
  #portfolio1 .portfolio-item .portfolio-link { 
  position: relative; 
  display: block; 
  margin: 0 auto; 
  } 
  
  #portfolio1 .portfolio-item .portfolio-link .portfolio-hover { 
  display: flex; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background: #6807197a; 
  align-items: center; 
  justify-content: center; 
  opacity: 0; 
  transition: opacity ease-in-out 0.25s; 
  } 
  
  #portfolio1 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content { 
  font-size: 1.25rem; 
  color: #FFFFFF; 
  } 
  
  #portfolio1 .portfolio-item .portfolio-link:hover .portfolio-hover { 
  opacity: 1; 
  } 
  
  #portfolio1 .portfolio-item .portfolio-caption { 
  padding: 1.5rem; 
  text-align: center; 
  background-color: #FFFFFF; 
  } 
  
  #portfolio1 .portfolio-item .portfolio-caption .portfolio-caption-heading { 
  font-size: 1.5rem; 
  font-weight: 700; 
  margin-bottom: 0; 
  } 
  
  /* ESTILOS DEL MODAL */ 
  .modal-content{ 
  background-color: rgba(0, 0, 0, 0.623); 
  border: none; 
  border-radius: 0; 
  color: #FFFFFF; 
  a{ 
      color: #E4E4E4; 
  } 
  } 
  
  .modal-header{ 
    border-bottom: none; 
  } 

  .boton{
    border: none ;
    background-color: #680718;
    padding: 7px 25px;
    font-weight: bold;
    color: #FFFFFF;
    }